<!-- templates/index.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container-fluid py-4">
  <div class="row justify-content-center">
    <div class="row">
      <div class="card w-100">
        <div class="card-header mt-2">
          <div class="w-100 w-md-auto">
            <h4 class="">About</h4>
            <hr class="bg-success border-2 border-top border-success" />
          </div>
        </div>
        <div class="card-body">
          <h1 class="mb-4">Tentang Ecosba</h1>
          <p>
            Aplikasi <strong>Ecosba</strong> dibuat untuk simulasi penempatan sensor
            pada lahan sawah dengan memanfaatkan metode Heuristic dengan ILP (Integer
            Linear Programming).
          </p>
          <p>
            Fitur utama:
          <ul class="fitur">
            <li>Simulasi sensor pada berbagai bentuk lahan Persegi dan Persegi Panjang</li>
            <li>Visualisasi hasil dalam bentuk gambar untuk penempatan hardware</li>
            <li>Penyimpanan riwayat simulasi</li>
          </ul>
          </p>
          <a href="{{ url_for('simulation') }}" class="btn" style="background-color: #ffb823;">Simulasikan</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
